In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("gs://jeffrey-data-versioning/data/processed/rebalanced_splits/train.parquet")

In [3]:
df.sample(n=10)

,dataset_name,label,text,split,cleaned_text
128891,jtc,0,This:\nOne can make an analogy in mathematical...,train,this one make analogy mathematical terms envis...
117308,jtc,0,. deadly radiation may cause human extinction!!!,train,deadly radiation may cause human extinction
23241,jtc,0,"""\nOK, thanks. I think part of the problem is ...",train,ok thanks i think part problem vast majority p...
111739,jtc,0,"""::""""which was more focused on Illyrian-Albani...",train,focused illyrianalbanian continuity issue alba...
57851,jtc,0,REDIRECT Talk:List of Billboard Mainstream Top...,train,redirect talk list billboard mainstream top nu...
53043,jtc,0,blocked from editing.,train,blocked editing
32352,jtc,0,""" \n\n :::Please remember that Wikipedia is no...",train,please remember wikipedia chat room forum you ...
133477,jtc,0,I second what Ahc said. Thanks for your excel...,train,i second ahc said thanks excellent contributions
63036,jtc,0,"""I know I'm probably not making myself very po...",train,i know i m probably making popular polishspeak...
44623,jtc,0,""" \n\n Going to finish the restoration of imag...",train,going finish restoration image going fpc though

In [4]:
df.shape

(269998, 5)

### Filtering ÎåÄÏÉÅ
1. cleaned_text Ïª¨Îüº Í∞íÏù¥ Îπà Î¨∏ÏûêÏó¥Ïùº Í≤ΩÏö∞
2. cleaned_text Ïª¨Îüº Í∞íÏù¥ Î†àÏù¥Î∏îÍ≥º ÏùºÏπòÌïòÏßÄ ÏïäÎäî Í≤ΩÏö∞
3. cleaned_text Ïª¨Îüº Í∞íÏù¥ ÎπÑÏñ¥ÏûàÎäîÎç∞ labelÏù¥ 1Ïù∏ Í≤ΩÏö∞(cyberbullying text)
4. cleaned_text Ïª¨Îüº Í∞íÏù¥ ÎÑàÎ¨¥ ÏßßÏùÄ Í≤ΩÏö∞ -> Î†àÏù¥Î∏î ÌåêÎã® Í∑ºÍ±∞ Î∂ÄÏ°±

In [23]:
df[df['cleaned_text'].str.len() < 10].sample(n=10)

,dataset_name,label,text,split,cleaned_text
5621,jtc,1,"we will, we will fuck you!",train,fuck
1922,jtc,0,because you blocked me,train,blocked
52743,jtc,0,:oh sorry about that.,train,oh sorry
58690,jtc,0,== gay == \n\n are you gay?,train,gay gay
27618,twitter,1,5/17/15,train,
44106,jtc,0,Keyur is the man,train,keyur man
46453,jtc,0,"22:14, 15 Mar 2005 (UTC)",train,mar utc
14549,twitter,1,@dopeshit69 you so are you faggot x,train,faggot x
10159,ghc,0,Why,train,why
1803,twitter,0,Rob's hat,train,rob s hat

In [6]:
df[df['cleaned_text'].str.len() == 0]

,dataset_name,label,text,split,cleaned_text
14079,ghc,0,üî∫Ô∏èNXIVMüî∫Ô∏è,train,
12205,ghc,0,RT @BudElliott3:,train,
16164,ghc,0,https://amp.theguardian.com/commentisfree/2018...,train,
13337,ghc,0,483 4c5 4ba 4c7 14¬†483 4c5 4ba 4c7 14¬†483 4c5 ...,train,
3605,ghc,0,RT,train,
...,...,...,...,...,...
11489,twitter,1,√∞¬ü¬ë¬∂√∞¬ü¬ë¬∂√∞¬ü¬ë¬∂ wha√¢¬Ä¬¶,train,
28953,twitter,1,https://t.co/vRV5buwhTb,train,
24529,twitter,1,5/16/15,train,
26069,twitter,1,üíÉüç¶üêôüòáüå∏üåü,train,
26027,twitter,1,https://t.co/4Txof10L1J,train,

In [31]:
cleaned_df = pd.read_parquet("gs://jeffrey-data-versioning/data/processed/rebalanced_splits/test.parquet")

In [32]:
cleaned_df[cleaned_df["cleaned_text"].str.split().apply(len) < 2]

Empty DataFrame
Columns: [dataset_name, split, label, text, cleaned_text]
Index: []

In [33]:
cleaned_df.shape

(12337, 5)