In [1]:
cd /app

/app

/home/jihoahn9303/venv/lib/python3.10/site-packages/IPython/core/magics/osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [3]:
import pandas as pd

In [5]:
train_df = pd.read_csv("./data/raw/jigsaw-toxic-comment/train.csv")
test_df = pd.read_csv("./data/raw/jigsaw-toxic-comment/test.csv")
test_labels_df = pd.read_csv("./data/raw/jigsaw-toxic-comment/test_labels.csv")

In [6]:
print(f"{train_df.shape=}")
print(f"{test_df.shape=}")
print(f"{test_labels_df.shape=}")

train_df.shape=(159571, 8)
test_df.shape=(153164, 2)
test_labels_df.shape=(153164, 7)

In [7]:
train_df.head(10)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0
5,00025465d4725e87,"""\n\nCongratulations from me as well, use the ...",0,0,0,0,0,0
6,0002bcb3da6cb337,COCKSUCKER BEFORE YOU PISS AROUND ON MY WORK,1,1,1,0,1,0
7,00031b1e95af7921,Your vandalism to the Matt Shirvington article...,0,0,0,0,0,0
8,00037261f536c51d,Sorry if the word 'nonsense' was offensive to ...,0,0,0,0,0,0
9,00040093b2687caa,alignment on this subject and which are contra...,0,0,0,0,0,0

In [8]:
test_df.head(10)

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.
5  0001ea8717f6de06  Thank you for understanding. I think very high...
6  00024115d4cbde0f  Please do not add nonsense to Wikipedia. Such ...
7  000247e83dcc1211                   :Dear god this site is horrible.
8  00025358d4737918  " \n Only a fool can believe in such numbers. ...
9  00026d1092fe71cc  == Double Redirects == \n\n When fixing double...

In [9]:
test_labels_df.head(10)

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,-1,-1,-1,-1,-1,-1
2,00013b17ad220c46,-1,-1,-1,-1,-1,-1
3,00017563c3f7919a,-1,-1,-1,-1,-1,-1
4,00017695ad8997eb,-1,-1,-1,-1,-1,-1
5,0001ea8717f6de06,0,0,0,0,0,0
6,00024115d4cbde0f,-1,-1,-1,-1,-1,-1
7,000247e83dcc1211,0,0,0,0,0,0
8,00025358d4737918,-1,-1,-1,-1,-1,-1
9,00026d1092fe71cc,-1,-1,-1,-1,-1,-1

In [15]:
test_labels_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153164 entries, 0 to 153163
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             153164 non-null  object
 1   toxic          153164 non-null  int64
 2   severe_toxic   153164 non-null  int64
 3   obscene        153164 non-null  int64
 4   threat         153164 non-null  int64
 5   insult         153164 non-null  int64
 6   identity_hate  153164 non-null  int64
dtypes: int64(6), object(1)
memory usage: 8.2+ MB

In [11]:
test_labels_df['toxic'].unique()

array([-1,  0,  1])

In [12]:
test_labels_df[test_labels_df["toxic"] != -1].shape

(63978, 7)

In [25]:
test_labels_df[
    (test_labels_df["toxic"] != -1) &
    (test_labels_df["severe_toxic"] != -1) &
    (test_labels_df["obscene"] != -1) &
    (test_labels_df["threat"] != -1) &
    (test_labels_df["insult"] != -1) &
    (test_labels_df["identity_hate"] != -1) 
].shape

(63978, 7)